// CONTAINER
$core-grey: #e4e4e4;
$core-navy: #112129;
$core-coral: #FF6373;

// FLOWERS
$flower-blue: #9cdcfe;
$flower-green: #6a9955;
$flower-grey: #1f1f1f;
$flower-gray: $flower-grey;
$flower-white: #cccccc;

// ANGEL
$angel-dark: #00006d;
$angel-blue: #6ecaed;
$angel-red: #ca6e6e;

// STRETCH
$stretch-bg: #a79887;
$stretch-fg: #112129;
$stretch-highlight: #ffff00;

// USER
// black and white
$user-blue: #00092c;

// HILL

// ???

// END