@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.ttf');
}

@keyframes growLight1 {
  from {width: 0%;}
  to {width: 80%;}
}

@keyframes growLight2 {
  from {width: 0%;}
  to {width: 60%;}
}

@keyframes growLight3 {
  from {width: 0%;}
  to {width: 40%;}
}

@keyframes fadeOut {
  from {opacity: 100%;}
  to {opacity: 0%;}
}

@keyframes fadeCycle {
  from {opacity: 100%;}
  to {opacity: 25%;}
}

@keyframes fadeIn {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes slideFromWidth {
  from {width: 100%;}
  to {width: 0%;}
}

@keyframes slideFromHeight {
  from {top: 0;}
  to {top: -100%;}
}

@keyframes blurIn {
	from {
		filter: blur(1rem);
	}
}